*
{
    padding: 0;
    margin: 0;
}
.header
{
    height:700px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(travel9.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
}

.header h1 {

    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
    color: #fff;
    font-family: fantasy;
    text-align: center;
    
}

.header p
{
    margin: 18px 0;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

.input-group{
    width: 90;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;

}
.form-control
{
border: 0 !important;
border-radius: 30px !important;
margin: 2px;
box-shadow: none !important;
    
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 ;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;




